key_openai.txt
*.mov
*/.idea
*/.vscode
*/__pycache__
*.pyc
*/*.pyc
.DS_Store
*/*.cpython-38.pyc
*.cpython-38.pyc
*/chat_controller.cpython-38.pyc
*/discord_gui.cpython-38.pyc
*/openai_api.cpython-38.pyc